<div id="navbar" class="flop__navbar">
    <div class="flop__navbar__brand">
        <a href="{{ path('index') }}"><h1 class="flop__logo logo-font">
                <span class="flop__green logo-font">flop</span>!<span class="flop__red logo-font">EDT</span>
            </h1></a>
    </div>
    <div class="flop__navbar__links">
        <ul>
            <li><a class="nav-links nav-active">{{ 'nav.elem.1'|trans }}</a></li>
            <li><a class="nav-links">{{ 'nav.elem.2'|trans }}</a></li>
            <li><a class="nav-links">{{ 'nav.elem.3'|trans }}</a></li>
            <li><a class="contact-link shadow">{{ 'nav.elem.4'|trans }}</a></li>
        </ul>
    </div>
    <div id="menu-icon" class="menu-icon">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</div>