<section class="flop__screenshots">
    <img class="wave__down" src="{{ asset('build/svg/screens_up.svg') }}" alt="">
    <div class="wrapper">
        <div class="flop__screenshots__content col justify-center">
            <h1>Aperçu de l'application</h1>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="{{ asset('build/images/slider/groups.png') }}" alt=""></div>
                    <div class="swiper-slide"><img src="{{ asset('build/images/slider/generate-edt.png') }}" alt="">
                    </div>
                    <div class="swiper-slide"><img src="{{ asset('build/images/slider/preferences.png') }}" alt="">
                    </div>
                    <div class="swiper-slide"><img src="{{ asset('build/images/slider/week-preferences.png') }}"
                                                   alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>